---
ci:
  autofix_commit_msg: "Chore: pre-commit autoupdate"
  skip:
    # pre-commit.ci cannot install WGET, so tomlint must be disabled
    - tomllint

exclude: |
  (?x)^(
      docs\/conf.py|
      dco-signoffs/$
  )$

repos:

  - repo: local
    hooks:
      - id: tomllint
        name: "Script: scripts/tomllint.sh"
        language: script
        # pass_filenames: false
        files: \^*.toml
        types: [file]
        entry: scripts/tomllint.sh .

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      # - id: detect-aws-credentials
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: no-commit-to-branch
      # - id: pretty-format-json
      - id: requirements-txt-fixer
      - id: trailing-whitespace

# yamllint disable rule:comments-indentation
  ## Commenting until issue #94 is fixed
  # - repo: https://github.com/igorshubovych/markdownlint-cli
  #   rev: v0.41.0
  #   hooks:
  #     - id: markdownlint
  #       args: ["--fix"]
# yamllint enable rule:comments-indentation

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/openstack/bashate
    rev: 2.1.1
    hooks:
      - id: bashate
        args: ["--ignore=E006,E011"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: v1.7.7.23
    hooks:
      - id: actionlint

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          ["-d", "{rules: {line-length: {max: 120}},
          ignore-from-file: [.gitignore],}"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --config=pyproject.toml]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"
    hooks:
      - id: mypy
        verbose: true
        args: ["--show-error-codes", "--install-types", "--non-interactive"]
        additional_dependencies: ["pytest", "types-requests"]

# yamllint disable rule:comments-indentation
  # Check for misspellings in documentation files
  # - repo: https://github.com/codespell-project/codespell
  #   rev: v2.2.2
  #   hooks:
  #   - id: codespell

  # Automatically upgrade Python syntax for newer versions
  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v3.15.0
  #   hooks:
  #     - id: pyupgrade
  #       args: ['--py37-plus']
# yamllint enable rule:comments-indentation
