[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xarray = "*"
zarr = "==2.10.3"
dask = {extras = ["distributed"], version = "*"}
rasterio = "*"
s3fs = "*"
python-dotenv = "*"
h5netcdf = "*"
cftime = "*"
matplotlib = "*"
seaborn = "*"
mapbox = "*"
rioxarray = "*"
fsspec = "*"
pydantic = "*"
mkdocs = "*"
pymdown-extensions = "*"
mercantile = "*"
xclim = "==0.45.0"
geopandas = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
tox = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
