[project]
name = "hazard"
version = "0.1.0"
description = "OS-Climate Physical Risk Hazard Indicator Generation"
authors = [
    {name = "Joe Moorhouse",email = "5102656+joemoorhouse@users.noreply.github.com"},
]
requires-python = ">=3.8,<3.11"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["Physical", "Climate", "Risk", "Finance"]

classifiers = [
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: MacOS",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: Unix",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.8",
  "Topic :: Office/Business :: Financial",
  "Topic :: Scientific/Engineering",
  "Topic :: Software Development",
]

dependencies = [
  "cftime",
  "dask[distributed]",
  "fire",
  "fsspec",
  "geopandas",
  "h5netcdf",
  "mapbox",
  "matplotlib",
  "mercantile",
  "mkdocs",
  "numpy",
  "python-dotenv",
  "pyproj",
  "pydantic",
  "pymdown-extensions",
  "rasterio",
  "rioxarray",
  "seaborn",
  "shapely",
  "s3fs",
  "xarray",
  "xclim",
  "zarr",
]

[project.urls]
Homepage = "https://github.com/os-climate/hazard"
Repository = "https://github.com/os-climate/hazard"
Downloads = "https://github.com/os-climate/hazard/releases"
"Bug Tracker" = "https://github.com/os-climate/hazard/issues"
Documentation = "https://github.com/os-climate/hazard/tree/main/docs"
"Source Code" = "https://github.com/os-climate/hazard"

[metadata]
license-files = ["LICENSE"]

[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "pdm"
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
include = ["hazard*"]

[tool.setuptools.package-data]
hazard = [
  "models/*.md",
  "onboard/*.md"
]

[tool.pdm.dev-dependencies]
test = [
  "pdm[pytest]",
  "pytest",
  "pytest-cov",
  "sphinx-pyproject"
]
lint = [
  "isort",
  "black",
  "flake8",
  "Flake8-pyproject",
  "mypy",
  "pre-commit",
]
"black[jupyter]" = []

[tool.pdm.scripts]
pre_release = "scripts/dev-versioning.sh"
release = "scripts/release-versioning.sh"
test = "pytest"
docs = { shell = "cd docs && mkdocs serve", help = "Start the dev server for doc preview" }
lint = "pre-commit run --all-files"
isort = { cmd = "isort --check ." }
black = { cmd = "black --check ." }
flake8 = { cmd = "flake8 src" }
mypy = { cmd = "mypy --install-types --non-interactive src" }
all = {composite = ["pytest", "mypy", "isort", "black", "flake8"]}

complete = { call = "tasks.complete:main", help = "Create autocomplete files for bash and fish" }

[tool.pytest.ini_options]
testpaths = "tests"
addopts = "-v"
#addopts = "--cov --cov-report html --cov-report term-missing --cov-fail-under 95"

[tool.mypy]
warn_unreachable = true
ignore_missing_imports = true

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120

[tool.coverage.run]
source = "src"
omit = "tests/*"
relative_files = true

[tool.yapf]
blank_line_before_nested_class_or_def = true
column_limit = 88

[tool.black]
line-length = 120
exclude = '''
/(
    \.git
  | \.tox
  | \venv
  | \.venv
  | \*.env
  | \build
  | \dist
)/
'''

[tool.flake8]
max-line-length = "120"
extend-ignore = [
  "E501",
  "E203", # Allow spacing before colon (to favor Black).
]

[project.scripts]
os_climate_hazard = "hazard.cli:cli"